.cart {
  display: none;
  flex-direction: column;
  padding: rem(24);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: rem(460);
  background: #f4f7f8;
  border-width: rem(1) 0 rem(1) rem(1);
  border-style: solid;
  border-color: #3c3c3c;
  border-radius: rem(18) 0 0 rem(18);
  &__title {
    font-weight: 800;
    font-size: rem(60);
    line-height: 150%;
    color: #3c3c3c;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: rem(24);
    right: rem(24);
    width: rem(60);
    height: rem(60);
  }
  &__list {
    display: grid;
    gap: rem(32);
    margin-bottom: rem(44);
    max-height: rem(342);
    overflow-y: auto;
    padding-right: rem(38);
    &::-webkit-scrollbar {
      width: rem(10);
      background: #f4f7f8;
      border: rem(1) solid #3c3c3c;
      border-radius: rem(39);
      &-thumb {
        border-radius: rem(39);
        background: #c79aff;
        border-left: rem(1) solid #3c3c3c;
        border-right: rem(1) solid #3c3c3c;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__img {
    position: relative;
    width: rem(80);
    height: rem(92);
    margin-right: rem(16);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      top: 0;
      left: 0;
    }
  }
  &__name {
    font-weight: 800;
    font-size: rem(28);
    line-height: 100%;
    margin-bottom: rem(4);
  }
  &__count {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: rem(28);
    line-height: 100%;
    > *:not(:first-child) {
      margin-left: rem(8);
    }
    span {
      margin-right: rem(16);
    }
  }
  &__minus,
  &__plus {
    cursor: pointer;
    display: block;
    width: rem(14);
    height: rem(14);
  }
  &__minus {
    background: url(./../../img/svg/cart/minus.svg) center center/contain
      no-repeat;
  }
  &__plus {
    background: url(./../../img/svg/cart/plus.svg) center center/contain
      no-repeat;
  }
  &__totalprice {
    font-weight: 800;
    font-size: rem(48);
    line-height: 150%;
    margin-bottom: rem(24);
  }
  &__form {
    padding-top: rem(52);
    border-top: rem(1) solid rgba(60, 60, 60, 0.12);
    margin: 0 auto;
    p {
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      color: #252525;
      margin-bottom: rem(8);
    }
    input {
      margin-bottom: rem(12);
    }
    button {
      margin-top: rem(32);
    }
  }
}
