extends ../layouts/default

block variables
	- const title = "О нас";

block content
	include ../../blocks/modules/header/header
	main 
		include ../../blocks/modules/about/about
		include ../../blocks/modules/cart/cart
		include ../../blocks/modules/socials/socials
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")