section.main
  .container
    .title fffff
    .descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aperiam magnam numquam animi fuga quo eligendi, nemo ipsam dolores temporibus explicabo iusto commodi aliquid quidem assumenda perferendis, dicta voluptate blanditiis.
