.loader
    .loader__title 
        img(src="./img/svg/loader/title.svg", alt="Tesoro Mio")
        img(src="./img/svg/loader/descr.svg", alt="Сокровище внутри")
    img.loader__stars(src="./img/svg/loader/stars.svg", alt="Звезды")
    .loader__img
        img(src="./img/svg/loader/fire.svg", alt="Огонь")
        img(src="./img/svg/loader/fire.svg", alt="Огонь")
        img(src="./img/svg/loader/fire.svg", alt="Огонь")
        img(src="./img/svg/loader/candles.svg", alt="Свечки")
        