@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local("#{$font-family}"), url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.ttf") format("ttf");
  }
}

@include font-face(
  "Salford Sans",
  "../fonts/SalfordSans/SalfordSans-ExtraBold",
  800
);

@include font-face("Nunito", "../fonts/Nunito/Nunito-Bold", 700);
@include font-face("Nunito", "../fonts/Nunito/Nunito-SemiBold", 600);
@include font-face("Nunito", "../fonts/Nunito/Nunito-Medium", 500);
@include font-face("Nunito", "../fonts/Nunito/Nunito-Regular", 400);
