* {
  box-sizing: border-box;
}

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  scroll-behavior: smooth;
}

@media screen and (max-width: $desktopWidth) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: $tableWidth) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  line-height: 140%;
}

main {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(40);
  max-width: $desktopWidth;

  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
    padding: 0 30px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $lgTableWidth;
    padding: 0 16px;
  }

  @media screen and (max-width: $lgTableWidth) {
    max-width: $tableWidth;
    padding: 0 24px;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 100%;
    padding: 0 18px;
  }
}
