* {
  box-sizing: border-box;
}

html {
  color: $mainFontColor;
  height: 100%;
  scroll-behavior: smooth;
  font-size: calcFluidFontSize(5.40005, 18, 576, 1920);
}

@media screen and (max-width: $phoneWidth) {
  html {
    font-size: calcFluidFontSize(12.6002, 25.9202, 280, 576);
  }
}

body {
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  min-height: 100vh;
}

main {
  overflow: hidden;
  padding: 0 rem(44);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $desktopWidth;
}
